apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: avera-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: avera/ui:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        - name: SWIR_SERVICE_URL
          value: "http://detector-service:80/predict"
        volumeMounts:
        - name: shared-data
          mountPath: /data/planner_artifacts
      volumes:
      - name: shared-data
        hostPath:
          path: /opt/avera/data
          type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: ui-service
  namespace: avera-system
spec:
  selector:
    app: ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30080
  type: NodePort